.hero-body {
  .avatar-pic {
    z-index: 1;
    width: 128px;
    picture {
      img {
        border-radius: 50%;
      }
    }
  }
}
.hero-foot {
  button {
    margin-bottom: 1em;
    z-index: 1;
  }
}
