.hero-body {
  padding-top: 7rem;
  .avatar-pic {
    z-index: 1;
    width: 128px;
    picture {
      img {
        border-radius: 50%;
      }
    }
  }
  .icons-list {
    position: relative;
    z-index: 2;
    li {
      margin: 0 1.5em;
      a {
        color: #ffffff;

        &:hover {
          scale: 2;
        }
      }
    }
  }
}
.hero-foot {
  button {
    margin-bottom: 1em;
    z-index: 1;
  }
}
