.Skills {
  background-color: #3273dc;

  progress {
    margin-top: 0.35em;
  }

  .skill {
    .card {
      height: 280px;
    }

    .card-content {
      text-align: center;

      .icon-container {
        margin: auto;
        display: flex;
        color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        justify-content: center;

        .svg-custom-icon {
          display: block;
        }

        .iconify-icon {
          width: 3em;
          height: 3em;
        }
      }

      .title {
        margin-top: 1em;
      }

      ul {
        li {
          font-size: 1rem;
        }
      }
    }
  }

  .subskill {
    text-align: center;
    .iconify-icon {
      width: 3rem;
      height: 3rem;
    }
  }
}
