.Resume {
  //background-color: rgb(227, 227, 227);
  background-color: rgb(227, 227, 227);

  .vertical-timeline {
    margin: 0 0;
    width: 100%;
  }

  .vertical-timeline-element-content p {
    margin: 0;
  }

  
  .header-card {
    &.color-purple {
      background-color: #3273DC;
    }

    &.color-blue {
      background-color: #3273DC;
    }
    
    p {
      &.title {
        margin-bottom: 5px;
      }
      &.subtitle {
        margin-left: -5px;
      }
      color: #ffffff;
    }
  }

  .skills-card {
    ul {
      li {
        margin: 10px 0;
        font-size: 1.2rem;
      }
    }

    &.color-purple {
      svg {
        color: #3273DC;
      }
    }
    &.color-blue {
      svg {
        color: #3273DC;
      }
    }
  }
}
