.About {
  background-color: #111118;
  color: #ffffff;

  .avatar-pic {
    width: 128px;
    picture {
      img {
        border-radius: 50%;
      }
    }
    float: left;
    margin-right: 1em;
  }

  .about-pic {
    height: 400px;
    width: 200px;
    float: left;
    margin-right: 1em;
  }

  .title {
    color: #ffffff;
  }

  p {
    strong {
      color: #00d2b4;
    }
  }

  .resume-btn {
    &:first-child {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-left: 0.5rem;
    }

    span {
      margin: 0 0.5rem;
    }
    
  }
}
