.About {
  padding: 6em 0;
  background-color: #111118;
  color: #ffffff;
  .about-pic {
    height: 400px;
    width: 200px;
    float: left;
    margin-right: 1em;
  }

  .title {
    color: #ffffff;
  }
}

