.Contact {
  background-color: #111118;

  textarea {
    width: 100%;
  }

  .notification {
    display: block;
    position: fixed;
    opacity: 0;
    visibility: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}
