.SideMenu {
  width: 100%;
  height: 100vh;
  padding: 0.75rem;

  .logo {
    margin-bottom: 1em;
  }

  .menu-label {
    text-transform: lowercase;

    &:hover {
      p {
        background-color: whitesmoke;
        color: #363636;
      }
    }
    p {
      padding: 0.5em;
    }
  }

  .menu-label,
  .menu-list li {
    font-size: 1rem;
  }

  .menu-list li {
    a {
      padding: 0.25em 0.5em 0.5em;
    }

    ul {
      margin: 0 0 0 1.75em;
    }
  }
}
